%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('.home'), root_path, class: 'nav-link home-link'
          %li
            = link_to t('.shop'), books_path, class: 'nav-link shop-link'
          %li
            = link_to t('.orders'), '#', class: 'nav-link orders-link'
          %li
            = link_to t('.settings'), '#', class: 'nav-link settings-link'

      .col-sm-3
        %p.general-nav-mail= t('.email')
        %p.general-nav-number= t('.number')
        %ul.list-inline.general-align
          %li
            = link_to 'https://www.facebook.com/konstantin.stryapkin', class: 'nav-link' do
              %i.fa.fa-facebook{ 'aria-hidden': 'true' }
          %li
            = link_to 'https://www.instagram.com/stryapkin_kos/', class: 'nav-link' do
              %i.fa.fa-instagram{ 'aria-hidden': 'true' }
