%head
  %meta{ charset: 'UTF-8' }
  %meta{ name: 'viewport', content: 'width=device-width' }
  = Gon::Base.render_data
  %title Bookstore

  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_pack_tag 'application', media: 'all'
  = javascript_pack_tag 'application'
  = Gon::Base.render_data
