%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{ type: 'button', 'data-toggle': 'collapse',
                                       'data-target': '#navbar' }
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand= t('.bookstore')
      %a.shop-link.pull-right.visible-xs{ href: '#' }
        %span.shop-icon
          %span.shop-quantity 3
    %a.shop-link.pull-right.hidden-xs{ href: '#' }
      %span.shop-icon
        %span.shop-quantity 3
    .navbar-collapse.collapse.pl-30#navbar{ 'aria-expanded': 'false' }
      .visible-xs
        %button.close{ type: 'button', 'aria-label': 'Close' }
          %span{ 'aria-hidden': 'true' } &times;
        %ul.nav.navbar-nav
          %li
            = link_to t('.home'), root_path, class: 'home-link'
          %li
            = link_to(t('.shop'), '#menu', type: 'button', 'data-toggle': 'collapse',
                      'aria-expanded': 'false', 'aria-controls': 'menu', class: 'shop-header-link')
            %ul.collapse.list-unstyled.pl-30.mb-10#menu{ 'aria-expanded': 'false' }
              - categories.each do |category|
                %li
                  = link_to(category.title, books_path(category_id: category.id),
                            class: 'collapse-link')
              %li.divider{ role: 'separator' }
              %li
                %a{ href: '#' }= t('shared.header.log_out')
          %li
            = link_to t('.my_account'), '#', class: 'my-account-link'
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            = link_to t('.home'), root_path, class: 'home-link'
          %li.dropdown
            = link_to(t('.shop'), '#', 'data-toggle': 'dropdown', role: 'button',
                      'aria-haspopup': 'true', 'aria-expanded': 'false',
                      class: 'dropdown-toggle shop-header-link')
            %ul.dropdown-menu
              - categories.each do |category|
                %li
                  = link_to(category.title, books_path(category_id: category.id),
                            class: 'collapse-link')
              %li.divider{ role: 'separator' }
              %li
                = link_to t('.log_out'), '#', class: 'log-out-link'
          %li
            = link_to t('.my_account'), '#', class: 'my-account-link'

