%li.mr-35
  = link_to request.params.merge(category_id: nil), class: 'filter-link' do
    = t('.all_filter')
    %span.badge.general-badge= books_count
- categories.each do |category|
  %li.mr-35
    = link_to request.params.merge(category_id: category.id), class: 'filter-link custom-filter' do
      = category.title
      %span.badge.general-badge= category.books.length
